html {
    font-size: 14px;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.color-wrap {
    background: #1F3A93;
}

.img-circle {
    border-radius: 50%;
}

.hr-dashed {
    border-top: 1px dashed #ffffff;
    margin-bottom: 25px;
}

.bi-vk {
    content: "\e900";
    font-family: "icomoon" !important;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot');
    src: url('/fonts/icomoon.eot') format('embedded-opentype'), url('/fonts/icomoon.ttf') format('truetype'), url('/fonts/icomoon.woff') format('woff'), url('/fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-vk:before {
    content: "\e900";
    color: #fff;
}

.no-line{
    text-decoration: none;
}

@media (min-width: 1230px) {
    .navbar-expand-xl-plus {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

        .navbar-expand-xl-plus .navbar-nav {
            flex-direction: row;
        }

        .navbar-expand-xl-plus .dropdown-menu {
            position: absolute;
        }

        .navbar-expand-xl-plus .nav-link {
            padding-right: .5rem;
            padding-left: .5rem;
        }

        .navbar-expand-xl-plus > .container {
            flex-wrap: nowrap;
        }

        .navbar-expand-xl-plus .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }

        .navbar-expand-xl-plus .navbar-toggler {
            display: none;
        }
}