@{
    ViewData["Title"] = "Страница не найдена";
    ViewData["Footer"] = true;
}

<div class="color-wrap h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="d-flex flex-column pb-5">
            <h2 class="text-light text-center">Ошибка 404</h2>
            <hr class="text-light mt-0 mb-2">
            <h4 class="text-light text-center">Страница не найдена</h4>
        </div>
    </div>
</div>