@media (max-width: 576px) {
    .top-text {
        text-transform: uppercase;
        font-size: 12px;
    }
}

@media (min-width: 576px) {
    .top-text {
        text-transform: uppercase;
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    .top-text {
        text-transform: uppercase;
        font-size: 23px;
    }
}

@media (min-width: 992px) {
    .top-text {
        text-transform: uppercase;
        font-size: 34px;
    }
}
.portfoliowrap {
    padding-top: 60px;
    margin-bottom: 60px;
    display: block;
}
.event-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.event-list li {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
}
.time {
    padding-top: 5px;
    display: inline-block;
    height: 60px;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(197, 44, 102);
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 18px;
}
.info {
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
}
.event-list li p {
    padding: 0;
    margin-bottom: 12px;
    font-family: 'Open Sans', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #384452;
    margin-top: 10px;
}
.hline {
    border-top: 1px dashed #8c8b8b;
    padding-top: 5px;
    padding-bottom: 5px;
}
.links {
    padding-left: 0;
    padding-right: 0

}
.links li {
    width: 100%;
    list-style: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.link-btn {
    background: #1F3A93;
    border: 1px solid #ffffff;
    color: #ffffff;
    width: 100%;
    padding-top: 1.025rem;
    letter-spacing: 0.85px;
    padding-bottom: 1.0875rem;
    font-size: 1.55rem;
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    -webkit-appearance: none;
    font-weight: normal !important;
}
.link-btn:hover, .link-btn:active, .link-btn:focus, .dmbutton:focus {
  color: #ffffff;
  background-color: #3A539B;
  border-color: #ffffff;
}
.link-btn a:hover, a:focus {
  text-decoration: none;
  color: #01b2fe;
}
.all_news {
    padding-left: 3rem;
    padding-right: 3rem;
}
.news_block {
    border: solid silver 1px;
    padding-top: 1em;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1em;
}
.cs-readmore-btn {
    float: right;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #2C3E50;
}
.all_partners_block{
    padding-bottom:2rem;
}
.img-responsive{
    width: 100%;
    height: auto !important;
}