<a href="https://www.instagram.com/kazanfederaluniversity/"
   class="bi bi-instagram text-light"
   data-bs-toggle="tooltip"
   data-bs-placement="top"
   data-bs-title="*Деятельность Meta Platforms Inc. запрещена в РФ"></a>