<FooterHeading Label="СМИ" />
<div class="row">
    <div class="col d-flex justify-content-center align-content-center">
        <h3>
            <VkHyperlink />
        </h3>
    </div>
    <div class="col d-flex justify-content-center align-content-center">
        <h3>
            <InstagramHyperlink />
        </h3>
    </div>
    <div class="col d-flex justify-content-center align-content-center">
        <h3>
            <FacebookHyperlink />
        </h3>
    </div>
    <div class="col d-flex justify-content-center align-content-center">
        <h3>
            <TwitterHyperlink />
        </h3>
    </div>
    <div class="col d-flex justify-content-center align-content-center">
        <h3>
            <YoutubeHyperlink />
        </h3>
    </div>
</div>