<div class="color-wrap">
    <div class="container pt-5 pb-3" id="footer">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <FooterAdress />
            </div>
            <div class="col-md-4 col-sm-12">
                <FooterSocials />
            </div>
            <div class="col-md-4 col-sm-12">
                <FooterContacts />
            </div>
        </div>
    </div>
</div>