@model Admin
@{
    ViewData["Title"] = "Создание администратора";
    ViewData["footer"] = true;
}
<link rel="stylesheet" href="~/css/FormStyle.min.css" asp-append-version="true">

<div class="color-wrap h-100 d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <form method="post" class="col-lg-6 col-md-8 col-sm-12 round bg-primary-special pt-2 pb-4">
                <h2 class="text-center text-light">@ViewData["Title"]</h2>
                <hr class="text-light">
                <div class="mb-1">
                    <label class="form-label text-light" asp-for="Login"></label>
                    <input class="form-control" asp-for="Login">
                    <span class="text-danger" asp-validation-for="Login"></span>
                </div>
                <div class="mb-1">
                    <label class="form-label text-light" asp-for="Name"></label>
                    <input class="form-control" asp-for="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label text-light" asp-for="HashPassword"></label>
                    <input class="form-control" asp-for="HashPassword" autocomplete="new-password">
                    <span class="text-danger" asp-validation-for="HashPassword"></span>
                </div>
                <button class="btn btn-success w-100">Создать</button>
            </form>
        </div>
    </div>
</div>


@section Scripts
    {
    <partial name="_ValidationScriptsPartial">
    }
