@{
    ViewData["Title"] = "История мероприятия";
}

@section Scripts{
    <script src="~/js/PaginatorScript.js"></script>
}

<div class="color-wrap">
    <div class="container pt-2 pb-3">
        <h2 class="text-center text-light">@ViewData["Title"]</h2>
        <div class="d-flex justify-content-center">
            <div class="color-wrap">
                <ul class="pagination pagination-lg">
                    <li class="page-item active" id="2021">
                        <a class="page-link" href="JavaScript:Toggle(2021)">2021</a>
                    </li>
                    <li class="page-item" id="2018">
                        <a class="page-link" href="JavaScript:Toggle(2018)">2018</a>
                    </li>
                    <li class="page-item" id="2016">
                        <a class="page-link" href="JavaScript:Toggle(2016)">2016</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6 mb-3" id="program-block">
                <a class="btn btn-lg btn-primary w-100" id="program-button" href="/docs/history/2021/Program.pdf">Программа</a>
            </div>
            <div class="col-md-4 col-sm-6 mb-3" id="thesis-block">
                <a class="btn btn-lg btn-primary w-100" id="thesis-button" href="/docs/history/2021/Thesis.pdf">Тезисы</a>
            </div>
            <div class="col-md-4 col-sm-6" id="winners-block">
                <a class="btn btn-lg btn-primary w-100" id="winners-button" href="/docs/history/2021/Winners.pdf">Победители</a>
            </div>
        </div>
    </div>
</div>