@{
    ViewData["Title"] = "Экскурсии";
}
<link rel="stylesheet" href="~/css/ExcursionsStyle.min.css">

<div class="color-wrap">
    <div class="container pt-2 pb-2">
        <h2 class="text-center text-light">@ViewData["Title"]</h2>
        <h5 class="text-center text-light">
            В свободное время Вы можете посетить различные экскурсии по нашему университету, на которых каждый сможет найти для себя что-нибудь интересное.
        </h5>
        <h5 class="text-center text-light">
            Ниже приведены примеры экскурсий, которые были доступны к посещению во время прошлых конференций.
        </h5>
    </div>
</div>
<div class="bg-primary">
    <div class="container pt-2 pb-2">
        <div class="card color-wrap mb-3 mt-2">
            <div class="card-body">
                <h4 class="card-title text-center text-light">Симуляционный центр КФУ</h4>
                <hr class="text-light">
                <img class="float-start w-img-1 mb-2" src="~/img/excursions/exc-1.jpg" />
                <p class="card-text text-light">
                    Высокие медицинские технологии создают потребность в компетентных и прогрессивных специалистах.
                    В этом отношении в Институте фундаментальной медицины и биологии КФУ для подготовки врачей используются самые инновационные разработки.
                    На площади 400 квадратных метров создана виртуальная больница, где есть палаты разной направленности - приемный покой, кабинет эндоскопии,
                    виртуальная операционная, виртуальная интенсивная терапия, родильное отделение, отделение педиатрии, детская реанимационная.
                </p>
            </div>
        </div>
        <div class="card color-wrap mb-3">
            <div class="card-body">
                <h4 class="card-title text-center text-light">Музей истории и Зоологический музей КФУ</h4>
                <hr class="text-light">
                <img class="float-start w-img-2 mb-2" src="~/img/excursions/exc-2.jpg" />
                <img class="float-start w-img-2 mb-2" src="~/img/excursions/exc-3.jpg" />
                <p class="card-text text-light">
                    Музеи КФУ имеют международный статус. Информация об их фондах содержится в Международных каталогах и справочниках.
                    Экспозиции и фонды музеев широко используются в учебных, научных и культурно–просветительских целях.
                    <br>
                    Зоологический музей КФУ относится к числу старейших в России хранилищ этого профиля, а по богатству и исторической ценности
                    коллекций является одним из самых значительных зоологических музеев страны. Сегодня музей состоит из восьми залов, расположенных
                    по фасаду второго этажа восточного крыла главного здания университета. Коллекция музея включает экспонаты из двадцати трёх типов животных.
                    Его фонды насчитывают 3,5 тысячи единиц хранения позвоночных, 750 единиц хранения насекомых (30-40 тысяч экземпляров), 4 тысячи экземпляров
                    и единиц хранения других беспозвоночных.
                </p>
            </div>
        </div>
        <div class="card color-wrap mb-2">
            <div class="card-body">
                <h4 class="card-title text-center text-light">Геологический музей КФУ и 3D-Geo центр</h4>
                <hr class="text-light">
                <img class="float-start w-img-2 mb-2" src="~/img/excursions/exc-4.jpg" />
                <img class="float-start w-img-2 mb-2" src="~/img/excursions/exc-5.jpg" />
                <p class="card-text text-light">
                    Геологический музей КФУ - один из старейших и богатейших естественнонаучных музеев России, которые начали создаваться при высших учебных заведениях в конце XVIII столетия. В музее более 150000 музейных предметов из 60 стран мира. Это собрания метеоритов, горных пород,минералов, руд, ископаемых останков древних растений и животных.
                    <br>
                    3D-Geo центр был создан в 2013 г. для введения образовательных и научных проектов в области геологического и гидродинамического моделирования.
                </p>
            </div>
        </div>
    </div>
</div>