@using Mt22KpfuRu.Models.DataModels
@using Mt22KpfuRu.Models.ViewModels
@model ExcursionModel
@{
    ViewData["Title"] = "Экскурсии";
}
<link rel="stylesheet" href="~/css/ImagesStyle.min.css">

<div class="color-wrap">
    <div class="container pt-2 pb-2">
        <h2 class="text-center text-light">@ViewData["Title"]</h2>
        <h5 class="text-center text-light">
            В свободное время Вы можете посетить различные экскурсии по нашему университету, на которых каждый сможет найти для себя что-нибудь интересное.
        </h5>
        <h5 class="text-center text-light">
            Ниже приведены примеры экскурсий, которые были доступны к посещению во время прошлых конференций.
        </h5>
    </div>
</div>
<div class="bg-primary">
    <div class="container pt-2 pb-2">
        @foreach (var part in Model.Parts)
        {
            <div class="card color-wrap mb-3 mt-2">
                <div class="card-body">
                    <h4 class="card-title text-center text-light">@part.Name</h4>
                    <hr class="text-light">
                    @if (part.Image2 == null)
                    {
                        <img class="float-start w-img-1 mb-2" src="~/img/excursions/@part.Image1" />
                    }
                    else
                    {
                        <img class="float-start w-img-2 mb-2" src="~/img/excursions/@part.Image1" />
                        <img class="float-start w-img-2 mb-2" src="~/img/excursions/@part.Image2" />
                    }
                    <p class="card-text text-light">
                        @Html.Raw(HtmlSanitizerLite.Sanitize(part.Description))
                    </p>
                </div>
            </div>
        }
    </div>
</div>