@{
    ViewData["Title"] = "Главная";
    ViewData["footer"] = true;
}
<link rel="stylesheet" href="~/css/IndexStyle.css">

<div class="color-wrap">
    <div class="container pt-2">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="top-text text-light">V Всероссийская с международным участием школа-конференция студентов, аспирантов и молодых ученых «Материалы и технологии XXI века»</h2>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="h-100 d-flex align-items-center">
                    <div class="d-flex justify-content-center">
                        <a href="https://kpfu.ru/science/nauchno-issledovatelskaya-rabota-studentov-nirs/materialy-i-tehnologii-xxi-veka-xxi-veka"><img src="~/img/main_logo.jpg" class="img-circle" width="200px" height="200px"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="h-100 d-flex align-items-center">
                    <div class="d-flex justify-content-center">
                        <a href="https://kpfu.ru/"><img src="~/img/kpfu_logo.jpg" class="img-circle" width="200px" height="200px"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container portfoliowrap">
    <div class="row">
        <div class="col-lg-3">
            <div class="centered ctitle">
                <center>
                    <h3>Ключевые даты</h3>
                    <ul class="event-list">
                        <li>
                            <time>
                                <div class="inner">
                                    <span class="day">12 ОКТЯБРЯ 2022</span><br>
                                    <span class="time"></span>
                                </div>
                            </time>
                            <div class="info">
                                <div class="inner">
                                    <b class="title" style="font-size: 16px;">Начало регистрации</b>
                                    <p class="desc"></p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <time>
                                <div class="inner">
                                    <span class="day">12 НОЯБРЯ 2022</span><br>
                                    <span class="time"></span>
                                </div>
                            </time>
                            <div class="info">
                                <div class="inner">
                                    <b class="title" style="font-size: 16px;">Конец регистрации</b>
                                    <p class="desc"></p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <time>
                                <div class="inner">
                                    <span class="day">30 НОЯБРЯ 2022</span><br>
                                    <span class="time"></span>
                                </div>
                            </time>
                            <div class="info">
                                <div class="inner">
                                    <b class="title" style="font-size: 16px;">Начало конференции</b>
                                    <p class="desc"></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </center>
            </div>
            <div class="hline"></div>
            <div>
                <h3 class="ctitle centered">Быстрые ссылки</h3>
                <ul class="links centered">
                    <li><a href="/kazan/" class="link-btn">Казань</a></li>
                    <li><a href="https://docs.google.com/document/d/1Bnah3YBlVMAcOW48WY2nVyv44Xi1TxBx" download="" class="link-btn">Информационное письмо</a></li>
                    <li><a href="/tours/" class="link-btn">Экскурсии</a></li>
                    <li><a href="/about/#sections" class="link-btn">Секции</a></li>
                    <li><a href="http://kpfu.ru/" class="link-btn">Университет КФУ</a></li>
                    <li><a href="/speakers/" class="link-btn">Пленарные докладчики</a></li>
                    <li>
                        <a href="https://drive.google.com/file/d/1Sx1aD-t0AiWs1vXQnslknBD6MZJnDGvH" download="" class="link-btn">
                            Сборник прошлой
                            конференции
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9">

        </div>
    </div>
</div>