<style>
    .col-custom {
        flex: 0 0 auto;
        width: 12%;
    }

    .pl-0 {
        padding-left: 0;
    }

    .pr-0 {
        padding-right: 0;
    }
</style>
<div class="color-wrap h-100">
    <div class="row mx-0">
        <div class="col-custom pl-0">
            <img class="w-100" src="~/img/ivmiit-flag.png">
        </div>
        <div class="col">
            <h2 class="text-light text-center mt-3">Сайт был разработан студентами КФУ ИВМиИТ ПМ</h2>
        </div>
        <div class="col-custom pr-0">
            <img class="w-100" src="~/img/ivmiit-flag.png">
        </div>
    </div>
</div>