@using Mt22KpfuRu.Models;
@model KazanModel
@{
    ViewData["Title"] = "Казань";
}
<link rel="stylesheet" href="~/css/ImagesStyle.min.css">

<div class="color-wrap">
    <div class="container pt-2 pb-2">
        <h2 class="text-center text-light">@ViewData["Title"]</h2>
        <h5 class="text-center text-light">
            В свободное время Вы можете посетить различные достопримечательности и узнать больше о Казани.
        </h5>
        <h5 class="text-center text-light">
            Ниже приведены примеры достопримечательностей, которые были доступны к посещению во время прошлых конференций.
        </h5>
    </div>
</div>
<div class="bg-primary">
    <div class="container pt-2 pb-2">
        @foreach(KazanPlace place in Model.Places)
        {
            <div class="card color-wrap mb-3 mt-2">
                <div class="card-body">
                    <h4 class="card-title text-center text-light">@place.Name</h4>
                    <hr class="text-light">
                    <img class="float-start w-img-1 mb-2" src="~/img/Kazan/@place.Image" />
                    <p class="card-text text-light">
                        @Html.Raw(place.Description);
                    </p>
                </div>
            </div>
        }
    </div>
</div>
