@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Казань";
    ViewData["footer"] = true;
}
<link rel="stylesheet" href="~/css/ImagesStyle.min.css">

<div class="color-wrap">
    <div class="container pt-2 pb-2">
        <h2 class="text-center text-light">@ViewData["Title"]</h2>
        <h5 class="text-center text-light">
            В свободное время Вы можете посетить различные достопримечательности и узнать больше о Казани.
        </h5>
        <h5 class="text-center text-light">
            Ниже приведены примеры достопримечательностей, которые были доступны к посещению во время прошлых конференций.
        </h5>
    </div>
</div>
<div class="bg-primary">
    <div class="container pt-2 pb-2">
        <div class="card color-wrap mb-3 mt-2">
            <div class="card-body">
                <h4 class="card-title text-center text-light">Казанский Кремль</h4>
                <hr class="text-light">
                <img class="float-start w-img-1 mb-2" src="~/img/Kazan/kazan1.jpg" />
                <p class="card-text text-light">
                    Древнейшая часть Казани, комплекс архитектурных, исторических и археологических памятников, раскрывающих многовековую историю города: археологические остатки первого (XII—XIII вв.), второго (XIV—XV вв.) и третьего городищ (XV—XVI вв.); белокаменный кремль, ряд храмов и зданий, имеющих большую историко-архитектурную и культурную ценность, официальная резиденция Президента Татарстана. Является объектом Всемирного наследия ЮНЕСКО с 2000 года.
                </p>
            </div>
        </div>
        <div class="card color-wrap mb-3 mt-2">
            <div class="card-body">
                <h4 class="card-title text-center text-light">Спасская башня Казанского Кремля</h4>
                <hr class="text-light">
                <img class="float-start w-img-1 mb-2" src="~/img/Kazan/kazan2.jpg" />
                <p class="card-text text-light">
                    Четырехъярусная Спасская башня с надвратной церковью Спаса Нерукотворного — главный въезд в Казанский кремль — расположена в южном прясле крепостной стены. Возведена в XVI веке псковскими зодчими Иваном Ширяем и Постником Яковлевым по прозванию «Барма». Башня неоднократно перестраивалась, во все века ей как главной кремлевской башне уделяли особое внимание.
                </p>
            </div>
        </div>
        <div class="card color-wrap mb-3 mt-2">
            <div class="card-body">
                <h4 class="card-title text-center text-light">Благовещенский собор</h4>
                <hr class="text-light">
                <img class="float-start w-img-1 mb-2" src="~/img/Kazan/kazan3.jpg" />
                <p class="card-text text-light">
                    Благовещенский собор — самое крупное сооружение Казанского кремля и древнейшее из сохранившихся каменных построек Казани, расположен в центре комплекса. Построен в 1561—1562 гг. псковскими мастерами во главе с Постником Яковлевым и Иваном Ширяем. Перестроен в 1691, 1736, 1835—1843, реконструирован в 1970—1980-е, реставрировался в 1996—2005 гг.
                </p>
            </div>
        </div>
        <div class="card color-wrap mb-3 mt-2">
            <div class="card-body">
                <h4 class="card-title text-center text-light">Планетарий КФУ</h4>
                <hr class="text-light">
                <img class="float-start w-img-1 mb-2" src="~/img/Kazan/kazan4.jpg" />
                <p class="card-text text-light">
                    «Планетарий в Казани – единственный в России, который действует в составе университета», – сказал, обращаясь к собравшимся на церемонию открытия, Ильшат Гафуров. Он добавил, что новый планетарий «полностью вписывается в структуру университета и будет служить его научному сообществу». Подробности: http://kpfu.ru/news/v-kazanskom-federalnom-universitete-otkryli-45952.html
                </p>
            </div>
        </div>
        <div class="card color-wrap mb-3 mt-2">
            <div class="card-body">
                <h4 class="card-title text-center text-light">Симуляционный центр КФУ</h4>
                <hr class="text-light">
                <img class="float-start w-img-1 mb-2" src="~/img/Kazan/kazan5.jpg" />
                <p class="card-text text-light">
                    Научно-исследовательское и культурно-образовательное учреждение, ведущий музейный центр Татарстана и один из крупнейших культурно-исторических музеев в Поволжье.
                </p>
            </div>
        </div>
    </div>
</div>
