@using Mt22KpfuRu.Models.ViewModels
@model MapModel
@{
    ViewData["Title"] = "Проживание";
}

<div class="color-wrap">
    <div class="container pt-3 pb-3">
        <h2 class="text-center text-light">@ViewData["Title"]</h2>
        <h5 class="text-center text-light">Участники конференции могут забронировать номера в гостиницах, расположенных в шаговой доступности от места проведения конференции. Ниже можете ознакомиться с картой ближайших гостиниц.</h5>
    </div>
</div>
<div class="bg-primary">
    <div class="container pt-3 pb-3">
        @Html.Raw(Model.YandexFrame)
    </div>
</div>
