@{
    ViewData["Title"] = "Проживание";
}

<div class="color-wrap">
    <div class="container pt-3 pb-3">
        <h2 class="text-center text-light">@ViewData["Title"]</h2>
        <h5 class="text-center text-light">Участники конференции могут забронировать номера в гостиницах, расположенных в шаговой доступности от места проведения конференции. Ниже можете ознакомиться с картой ближайших гостиниц.</h5>
    </div>
</div>
<div class="bg-primary">
    <div class="container pt-3 pb-3">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab75ac822ac159b3eda9e9a7b43cac62db4f5e8ff234b06031aee6b5542f4ecfb&amp;source=constructor" width="100%" height="660" frameborder="0"></iframe>
    </div>
</div>
