@{
    ViewData["Title"] = "Пленарные докладчики";
    // ViewData["footer"] = true;
}
<link rel="stylesheet" href="~/css/ProgramStyle.min.css">

<div class="color-wrap">
    <div class="container pt-2 pb-3">
        <h2 class="text-center text-light">@ViewData["Title"]</h2>
        <table class="table table-bordered table-responsive text-light mb-0">
            <thead>
                <tr class="cell-centered">
                    <th scope="col">ФИО</th>
                    <th scope="col">Должность</th>
                    <th scope="col">Тема доклада</th>
                </tr>
            </thead>
            <tbody>
                <tr class="cell-centered"><td colspan="3">30 ноября 2022 г.</td></tr>
                <tr class="cell-centered">
                    <td>Харинцев Сергей Сергеевич</td>
                    <td>д.ф.-м.н., профессор кафедры оптики и нанофотоники Института физики КФУ, Казань.</td>
                    <td>Генерация субволновых температурных градиентов с помощью термоплазмонной метаповерхности</td>
                </tr>
                <tr class="cell-centered">
                    <td>Мухаметзянов Тимур Анварович</td>
                    <td>к.х.н., доцент кафедры физической химии Химического Института КФУ, Казань.</td>
                    <td>Новые возможности исследования материалов на базе метода сверхбыстрой калориметрии.</td>
                </tr>
                <tr class="cell-centered">
                    <td>Вишняков Иннокентий Евгеньевич</td>
                    <td>к.б.н., старший научный сотрудник Института цитологии РАН, Санкт-Петербург.</td>
                    <td>Союз минимализма и совершенства: микоплазмы</td>
                </tr>
                <tr class="cell-centered"><td colspan="3">1 декабря 2022 г.</td></tr>
                <tr class="cell-centered">
                    <td>Романов Семен Романович</td>
                    <td>к.х.н., ассистент кафедры высокомолекулярных и элементоорганических соединений Химического Института КФУ, Казань.</td>
                    <td>Разработка противомикробных фармацевтических композиций для ветеринарии. От идеи до лекарства</td>
                </tr>
                <tr class="cell-centered">
                    <td>Огнев Игорь Николаевич</td>
                    <td>Старший преподаватель научно-образовательного центра «Моделирование ТРИЗ» института геологии и нефтегазовых технологий КФУ, Казань.</td>
                    <td>Строение земной коры, тепловой режим и нефтегазоносность Волго-Уральского сегмента Восточно-Европейского кратона</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>