@{
    ViewData["Title"] = "Докладчики";
    ViewData["footer"] = true;
}

<div class="color-wrap h-100">
    <div class="container pt-2 pb-3">
        <h2 class="text-center text-light">@ViewData["Title"]</h2>
        <h5 class="text-center text-light">Данные скоро появятся ;)</h5>
    </div>
</div>