@{
    ViewData["Title"] = "Регистрация";
    ViewData["footer"] = true;
}

<div class="color-wrap">
    <div method="post" class="container pt-3 pb-4">
        <h2 class="text-center text-light">Информация</h2>
        <h5 class="text-center text-light">
            Для участия в V Всероссийской с международным участием школе-конференции студентов, аспирантов и молодых
            ученых «Материалы и технологии XXI века» необходимо подготовить тезисы доклада и пройти регистрацию на сайте КФУ. Более подробная информация приведена ниже.
        </h5>
        <div class="d-flex justify-content-center">
            <a class="btn btn-lg btn-primary mt-2" href="~/docs/Thesis.pdf">Оформление тезисов</a>
        </div>
    </div>
</div>
<div class="bg-primary">
    <div class="container pt-3 pb-2">
        <h4 class="text-center text-light">
            Регистрация проходит по <a class="text-danger" href="https://kpfu.ru/science/nauchno-issledovatelskaya-rabota-studentov-nirs/materialy-i-tehnologii-xxi-veka-xxi-veka/registraciya">ссылке</a> на сайте КФУ
        </h4>
    </div>
</div>
<div class="color-wrap">
    <div method="post" class="container pt-3 pb-2">
        <h2 class="text-center text-light">Тезисы докладов</h2>
        <p class="text-light">
            <strong>Объем: </strong>Не более 1 страницы на листе формата А4, ограниченном полями 2.5 см с каждой стороны.
        </p>
        <hr class="text-light">
        <p class="text-light">
            <strong>Шрифт: </strong>
            Весь текст должен быть набран в Times New Roman с полуторным межстрочным интервалом.
        </p>
        <hr class="text-light">
        <p class="text-light">
            <strong>Название: </strong>
            Размер 12, прописной регистр, полужирный, центрован.
        </p>
        <hr class="text-light">
        <p class="text-light">
            <strong>Автор(ы): </strong>
            Размер 12, центрован, отделен одной строкой от названия. Один автор отделяется от другого запятой и пробелом. Если авторский коллектив представляет несколько организаций, используйте надстрочный индекс (a, b и т.д.) для организации после инициалов каждого автора. Фамилия докладчика должна быть подчеркнута.
        </p>
        <hr class="text-light">
        <p class="text-light">
            <strong>Организация: </strong>
            Размер 12, курсив, центрован. Название организации, город, страна следуют на следующей строке после авторов. Если авторы представляют несколько организаций, то каждая организация записывается на отдельной строке. Последней строкой должен стоять адрес электронной почты автора.
        </p>
        <hr class="text-light">
        <p class="text-light">
            <strong>Текст: </strong>
            Размер по выбору автора, отформатирован по ширине, без пропуска строк между параграфами, без разбивки на колонки, без автоматической расстановки переносов. Рекомендуется отделить основной текст тезисов от электронного адреса одной строкой.
        </p>
        <hr class="text-light">
        <p class="text-light">
            <strong>Ссылки: </strong>
            Используйте квадратные скобки для обозначения ссылки на литературу [1]. Список литературы приводится в конце основного текста тезисов и отделен от него одной строкой.
        </p>
        <hr class="text-light">
        <p class="text-center text-light">
            <strong>
                Тезисы, подготовленные не по правилам, могут быть не зарегистрированы!
            </strong>
        </p>
        <p class="text-center text-light">
            Со всеми вопросами, касающимися организации и проведения конференции, можно обращаться по
            адресу: <a class="text-danger" href="mailto: info.materials21@kpfu.ru">info.materials21@kpfu.ru</a>
        </p>
    </div>
</div>