@{
    ViewData["Title"] = "Спонсоры конференции";
}
<link rel="stylesheet" href="~/css/SponsorsStyle.min.css" asp-append-version="true">

<div class="color-wrap">
    <div class="container pt-3 pb-3">
        <h2 class="text-center text-light">@ViewData["Title"]</h2>
        <h5 class="text-center text-light">
            Оргкомитет конференции приглашает к сотрудничеству заинтересованные компании и предлагает выступить спонсорами конференции. Каждый спонсор получит возможность представить свой стенд на конференции и презентацию своей продукции. Логотип спонсора будет размещен на главной странице сайта конференции.
        </h5>
        <div class="d-flex justify-content-center">
            <a class="btn btn-lg btn-primary mt-2" href="~/docs/sponsors.doc">Информация для будущих спонсоров</a>
        </div>
    </div>
</div>
<div class="bg-primary">
    <div class="container pt-3 pb-2">
        <p class="text-light">
            Казанский (Приволжский) федеральный университет приглашает Вас принять участие в качестве спонсоров IV Всероссийской с международным участием школе-конференции студентов, аспирантов и молодых ученых «Материалы и технологии XXI века», которая будет проходить 8-10 ноября 2021 года в Казанском (Приволжском) федеральном университете.
            <br>
            На прошлой конференции приняло участие 300 молодых ученых, из них около 100 человек из других субъектов Российской Федерации.
            <br>
            В этом году планируется участие молодых ученых из Казани, Нижнего Новгорода, Самары, Саратова, Ульяновска, Оренбурга, Томска, Санкт-Петербурга, Москвы и других городов.
        </p>
    </div>
</div>
<div class="color-wrap">
    <div class="container pt-3 pb-2">
        <h2 class="text-center text-light">Стоимость спонсорского участия составляет 60 тыс руб (включая НДС), пакет включает в себя:</h2>
        <ul class="text-light">
            <li>Пакет участника Конференции</li>
            <li>Возможность вложения материалов в пакет участников</li>
            <li>Секционный доклад продолжительностью 10 минут</li>
            <li>Выставочное место для стенда и представления рекламных материалов (рекламные площадки будут организованы в зале для постерных докладов и выставки научных достижений)</li>
            <li>Возможность проведения демонстраций, приборов и мастер-классов на научном оборудовании</li>
            <li>Включение информации о фирме (150-200 слов) в программу Конференции.</li>
        </ul>
    </div>
</div>
<div class="bg-primary">
    <div class="container pt-3 pb-2">
        <h2 class="text-center text-light">@ViewData["Title"]</h2>
        <div class="card color-wrap mb-3 mt-2">
            <div class="card-body">
                <h4 class="card-title text-center text-light">ТатХимПродукт</h4>
                <hr class="text-light">
                <a class="float-start w-img mb-2" href="http://www.tatcp.ru/">
                    <img class="w-100" src="~/img/sponsors/sponsor-1.png" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-html="true" data-bs-title="г. Казань, ул. Ватутина д.1<br>+7 (843) 278-31-18<br>info.tatcp@mail.ru<br>http://www.tatcp.ru" />
                </a>
                <p class="card-text text-light">
                    В компании <strong>ТатХимПродукт</strong> вы всегда сможете заказать все, что необходимо для обеспечения нормального функционирования современной научно-исследовательской лаборатории: химические и биохимические реактивы, посуду и расходные материалы, лабораторное оборудование ведущих отечественных и зарубежных производителей, лабораторную мебель. Среди партнеров ТатХимПродукта такие крупнейшие международные и российские компании, как <strong>Acros Organics</strong>, <strong>Sigma-Aldrich-Fluka</strong>, <strong>Alfa Aesar</strong>, <strong>Fisher Scientific</strong>, <strong>Wiegand International</strong>, <strong>AND</strong>, <strong>Ohaus</strong>, <strong>Shinko</strong>, <strong>Waters</strong>, <strong>Agilent</strong>, <strong>Bruker</strong>, <strong>Biosan</strong>, <strong>Isolab</strong>, <strong>Huber</strong>, <strong>Mettler</strong>, <strong>Toledo</strong>, <strong>Диаэм</strong>, <strong>Хеликон</strong>, <strong>ЛОиП</strong>, <strong>ЭкоИнструмент</strong>, <strong>Экохим</strong> и многие другие. В компании ТатХимПродукт всегда готовы подобрать оптимальный вариант закупки, исходя из Ваших средств, сроков поставки и других факторов. Доставка продукции осуществляется в пределах Казани бесплатно.
                </p>
            </div>
        </div>
        <div class="card color-wrap mb-3 mt-2">
            <div class="card-body">
                <h4 class="card-title text-center text-light">Диа-М</h4>
                <hr class="text-light">
                <a class="float-start w-img mb-2" href="https://www.dia-m.ru/">
                    <img class="w-100" src="~/img/sponsors/sponsor-2.jpg" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-html="true" data-bs-title="420021, г.Казань, ул.Парижской Коммуны, д.6, оф.1<br>+7 (843) 210-20-80<br>info@dia-m.ru<br>https://www.dia-m.ru/" />
                </a>
                <p class="card-text text-light">
                    <strong>
                        Компания Диаэм
                    </strong> – крупнейший поставщик современного лабораторного оборудования на Российском рынке. Каталог компании насчитывает более 500 000 наименований приборов, реагентов и расходных материалов для медицинских и научно-исследовательских лабораторий. В каталоге компании представлено оборудование таких ведущих фирм, как: <strong>Abcam</strong>, <strong>Binder</strong>, <strong>Thermo</strong>, <strong>Bio-Rad</strong>, <strong>Corning</strong>, <strong>Eppendorf</strong>, <strong>Olympus</strong>, <strong>Nikon</strong>, <strong>Zeiss</strong>, <strong>Sanyo</strong>, <strong>Sigma-Aldrich</strong>.
                    <ul class="text-light">
                        <li>Антитела и наборы для проведения иммунологических исследований</li>
                        <li>Биохимические и гематологические анализаторы</li>
                        <li>Гистологическое оборудование: микротомы, системы проводки препаратов и окраски</li>
                        <li>ИФА-анализ: сканеры, промыватели и термостаты для планшет</li>
                        <li>Конфокальные и мультифотонные системы</li>
                        <li>Микроскопы исследовательского уровня и для рутинных работ</li>
                        <li>Генетические анализаторы для проведения скрининга наследственно обусловленных заболеваний</li>
                        <li>СО2-инкубаторы и термостаты</li>
                        <li>Системы изучения и оценки экспрессии генов</li>
                        <li>Шкафы биологической безопасности для работы с биологическими пробами</li>
                        <li>Наборы и реагенты для проведения эпигенетических исследований</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card color-wrap mb-3 mt-2">
            <div class="card-body">
                <h4 class="card-title text-center text-light">Координационный совет</h4>
                <hr class="text-light">
                <a href="http://youngscience.gov.ru/" class="float-start w-100 mb-2">
                    <img class="w-100" src="~/img/sponsors/sponsor-3.png" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-html="true" data-bs-title="http://youngscience.gov.ru/" />
                </a>
            </div>
        </div>
    </div>
</div>