@media (min-width: 1230px) {
    .navbar-expand-xl-plus {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

        .navbar-expand-xl-plus .navbar-nav {
            flex-direction: row;
        }

        .navbar-expand-xl-plus .dropdown-menu {
            position: absolute;
        }

        .navbar-expand-xl-plus .nav-link {
            padding-right: .5rem;
            padding-left: .5rem;
        }

        .navbar-expand-xl-plus > .container {
            flex-wrap: nowrap;
        }

        .navbar-expand-xl-plus .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }

        .navbar-expand-xl-plus .navbar-toggler {
            display: none;
        }
}
