.display-7 {
    font-size: 1.5rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

@media (min-width: 1230px) {
    .navbar-expand-xl-plus .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}