<header>
    <nav class="navbar navbar-expand-xl-plus navbar-dark bg-primary">
        <div class="container-fluid">
            <HeaderLogo />
            <HeaderTogglerButton />
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto d-flex justify-content-around flex-grow-1">
                    <HeaderLink Label="Главная" Href="/Index" Clicked="StateHasChanged" />
                    <HeaderLink Label="О конференции" Href="/About" Clicked="StateHasChanged" />
                    <HeaderLink Label="Регистрация" Href="/Registration" Clicked="StateHasChanged" />
                    <HeaderLink Label="Программа" Href="/Program" Clicked="StateHasChanged" />
                    <HeaderLink Label="Проживание" Href="/Living" Clicked="StateHasChanged" />
                </ul>
            </div>
        </div>
    </nav>
</header>