@model bool

<div class="container pt-2">
    @if (Model)
    {
        <hr>
    }
    <div class="text-center">
        <h3>Партнеры конференции</h3>
        <div class="row justify-content-md-center">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <a href="http://www.tatcp.ru/">
                    <img class="w-100" src="~/img/sponsors/sponsor-1.png" asp-append-version="true" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="г. Казань, ул. Ватутина д.1<br>+7 (843) 278-31-18<br>info.tatcp@mail.ru<br>http://www.tatcp.ru">
                </a>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <a href="https://www.dia-m.ru/">
                    <img class="w-100" src="~/img/sponsors/sponsor-2.jpg" asp-append-version="true" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="420021, г.Казань, ул.Парижской Коммуны, д.6, оф.1<br>+7 (843) 210-20-80<br>info@dia-m.ru<br>https://www.dia-m.ru/">
                </a>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <a href="http://youngscience.gov.ru/">
                    <img class="w-100" src="~/img/sponsors/sponsor-3.png" asp-append-version="true" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="http://youngscience.gov.ru/">
                </a>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img class="w-50" src="~/img/sponsors/sponsor-4-black.jpg" asp-append-version="true">
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img class="w-100" src="~/img/sponsors/sponsor-5-black.png" asp-append-version="true">
            </div>
        </div>
    </div>
</div>